<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/loginstyle.css"></link>
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta charset="UTF-8">
</head>
<body>
    <div class = "banner-area">
        <ul class = "box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <header>
            <a href = "#" class = "logo"></a>
<!--
            <ul class = "menu">
                <li><a href = "#">Welcome</a></li>
                <li><a href = "#">Login</a></li>
                <li><a href = "#">About</a></li>
                <li><a href = "#">Contact Us</a></li>
            </ul>
            -->

            <div class = "menu">
                <div class = "btn-box">
                    <button id="btn1" onclick = "openWelcome()"> Welcome </button>
                    <button id="btn2" onclick = "openLogin()"> Login </button>
                    <button id="btn3" onclick = "openAbout()"> About </button>
                    <button id="btn4" onclick = "openContact()"> Contact Us </button>
                </div> 
          </div>
        </header>
       
        <div id="content1" class = "welcome">
            <h2>Welcome to IBA</h2>
            <p>This is a Learning Managment System</p>
            <a href = "#"> Login</a>            
        </div>

        <div id="content2" class="login">
            <form action="index.html">
                  <div class="input-div one">
                      <div class="i">
                              <i class="fa fa-user"></i>
                      </div>
                      <div class="div">
                              <h5>Username</h5>
                              <input type="text" class="input">
                      </div>
                </div>
                   <div class="input-div pass">
                      <div class="i"> 
                           <i class="fa fa-lock"></i>
                      </div>
                      <div class="div">
                           <h5>Password</h5>
                           <input type="password" class="input">
                   </div>
                </div>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>

        <div id="content3" class = "about">
                <h1>About</h1>
                <p> this a learning managment system designed for admin so they can add and edit studets, teachers and courses etc.
                </p>
        </div>

        <div id="content4" class = "contact">
            <h1>Contact Us</h1>
            <p1>Maryam Altaf
                0343-2531180
            </p1>
            <p2>
                Ammar Lakho
                0330-2342320
            </p2>
            <p3>
                Zunaira Mairaj
                0311-3891010
            </p3>
        </div> 

        <script>
            
            var content1 = document.getElementById("content1");
            var content2 = document.getElementById("content2");
            var content3 = document.getElementById("content3");
            var content4 = document.getElementById("content4");

            var btn1 = document.getElementById("btn1");
            var btn2 = document.getElementById("btn2");
            var btn3 = document.getElementById("btn3");
            var btn4 = document.getElementById("btn4");
            
            function openWelcome(){
              btn1.style.color = "#rgb(1, 100, 67);"
              btn1.style.borderBottomStyle = "solid"
              btn2.style.borderBottomStyle = "none"
              btn3.style.borderBottomStyle = "none"
              btn4.style.borderBottomStyle = "none"
              btn1.style.borderBottomWidth = "3px"

              content1.style.visibility = "visible";
              content2.style.visibility = "hidden";
              content3.style.visibility = "hidden";
              content4.style.visibility = "hidden";
            }

            function openLogin(){
              btn2.style.color = "#rgb(1, 100, 67);"
              btn2.style.borderBottomStyle = "solid"
              btn1.style.borderBottomStyle = "none"
              btn3.style.borderBottomStyle = "none"
              btn4.style.borderBottomStyle = "none"
              btn2.style.borderBottomWidth = "3px"

              content1.style.visibility = "hidden";
              content2.style.visibility = "visible";
              content3.style.visibility = "hidden";
              content4.style.visibility = "hidden";
            }

            function openAbout(){
              btn3.style.color = "#rgb(1, 100, 67);"
              btn3.style.borderBottomStyle = "solid"
              btn1.style.borderBottomStyle = "none"
              btn2.style.borderBottomStyle = "none"
              btn4.style.borderBottomStyle = "none"
              btn3.style.borderBottomWidth = "3px"

              content1.style.visibility = "hidden";
              content2.style.visibility = "hidden";
              content3.style.visibility = "visible";
              content4.style.visibility = "hidden";
            }
            
            function openContact(){
              btn4.style.color = "#rgb(1, 100, 67);"
              btn4.style.borderBottomStyle = "solid"
              btn1.style.borderBottomStyle = "none"
              btn2.style.borderBottomStyle = "none"
              btn3.style.borderBottomStyle = "none"
              btn4.style.borderBottomWidth = "3px"

              content1.style.visibility = "hidden";
              content2.style.visibility = "hidden";
              content3.style.visibility = "hidden";
              content4.style.visibility = "visible";
            }

        </script>

    </div>

<script type="text/javascript" src="js/main.js"></script>
</body>
</html>

