<!-- Tab -->
<div class = "tabs">
    <div class = "btn-box">
        
        <a href="/"><button id="studentsBtn"><i class="fas fa-user-graduate"></i> Students </button></a>
        <a href="/teachers"><button id="teachersBtn"><i class="fas fa-chalkboard-teacher"></i> Teachers </button></a>
        <a href="/courses"><button id="coursesBtn"><i class="fas fa-book"></i> Courses </button></a>
    </div> 
</div>
